services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_flask
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_vite
    ports:
      - "5001:5001"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      ROLLUP_SKIP_NATIVE: "true"
      VITE_API_URL: http://backend:5000
